@import "../utils/container.scss";
@import "../utils/mixins";

@include slideAnimation("animationLeft", "100%", "0", "0", "0", "0", "1");

.header__touch {
  opacity: 0;
  animation: animationLeft 1.2s ease forwards 0.3s;

  cursor: pointer;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 500px;
  background: var(--background);
  outline: none;
  border: none;

  color: var(--color-text);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background: var(--background-hover);
    color: var(--color-hover);
  }
}

.header__touch__chip {
  fill: var(--fill);
  transition: all 0.3s ease;
}

.header__touch:focus .header__touch__chip,
.header__touch:hover .header__touch__chip {
  fill: var(--color-hover);
}

.hero__btn {
  @include mobileMax {
    margin: 0 auto;
  }
  cursor: pointer;
  display: inline-flex;
  height: 39px;
  padding: 4px 4px 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 500px;
  border: var(--border);

  color: var(--color-text);
  @include font(16px, 400, 18px);

  letter-spacing: -0.64px;
  transition: all 0.3s ease;
  &:focus,
  &:hover {
    outline: none;
    border: var(--border-hover);
    color: var(--color-hover);
    background: var(--background-hover);
  }
}

.hero__icon {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--background);
  color: var(--color-text);
}
.sendBtn {
  background-color: #eaedf1;
}
.learn {
  background-color: var(--background-body);
}
