@import "../utils/container.scss";
@import "../utils/mixins";
@import "../layouts/hero.module.scss";
@import "../layouts/mainCompany.module.scss";

.text__cases {
  padding: 20px 0;
}
.cases__overley {
  background: url("/ukrayini.jpeg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
