@import "../utils/container.scss";
@import "../utils/mixins";

.hero {
  padding-top: 110px;
  @include tablet {
    padding-top: 128px;
  }

  @include desktop {
    padding-top: 152px;
  }
}
.hero__container__title {
  display: flex;
  justify-content: center;
  @include mobileMax {
    flex-direction: column;
  }
  @include tablet {
    justify-content: space-between;
  }
  // border-bottom: var(--border);
  padding-bottom: 24px;
}
.hero__title {
  text-transform: uppercase;

  @include font(36px, 400, 36px);

  @include mobileMax {
    margin-bottom: 24px;
    min-width: 320px;
  }
  @include tablet {
    width: 300px;
    @include font(48px, 400, 48px);
  }
  @include desktop {
    width: 485px;
    @include font(64px, 400, 64px);
  }
}
.hero__box__text {
  @include mobileMax {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__text {
  font-size: 16px;

  font-weight: 400;
  letter-spacing: -0.64px;
  @include mobileMax {
    text-align: justify;
  }
  @include mobile {
    margin-bottom: 24px;
  }

  @include tablet {
    width: 342px;
    margin-bottom: 43px;
  }
  @include desktop {
    width: 363px;
    margin-right: 96px;
    margin-bottom: 20px;
  }
}

.hero__box__link {
  display: flex;
  align-items: center;

  @include mobileMax {
    flex-direction: column;
  }

  @include tablet {
    justify-content: space-between;
  }
  padding-top: 12px;
  padding-bottom: 36px;
}

.hero__box {
  width: 343px;
  display: flex;
  justify-content: center;
  @include mobileMax {
    margin-top: 8px;
  }
  @include tablet {
    justify-content: space-between;
  }
  @include desktop {
    width: 460px;
  }
}

.hero__link {
  font-size: 16px;

  font-weight: 400;

  letter-spacing: -0.64px;
}

.ecosolution {
  @include mobileMax {
    display: none;
  }
}

.hero__overley {
  background: url("/Screensho.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
